services:
  # rabbitmq:
  #   image: rabbitmq:3.13-management
  #   container_name: mq
  #   environment:
  #     RABBITMQ_DEFAULT_USER: guest
  #     RABBITMQ_DEFAULT_PASS: guest
  #   ports:
  #     - "5672:5672"     # AMQP
  #     - "15672:15672"   # Management UI
  #   volumes:
  #     - rabbitmq_data:/var/lib/rabbitmq
  #   healthcheck:
  #     test: ["CMD", "rabbitmq-diagnostics", "-q", "ping"]
  #     interval: 10s
  #     timeout: 5s
  #     retries: 10
  #   restart: unless-stopped
  #   networks: [app-net]

  # redis:
  #   image: redis:7-alpine
  #   container_name: redis
  #   ports:
  #     - "6379:6379"
  #   command: ["redis-server", "--appendonly", "yes"]
  #   volumes:
  #     - redis_data:/data
  #   healthcheck:
  #     test: ["CMD", "redis-cli", "ping"]
  #     interval: 10s
  #     timeout: 3s
  #     retries: 10
  #   restart: unless-stopped
  #   networks: [app-net]

volumes:
  mongo_data:
  # redis_data:
  # rabbitmq_data:

networks:
  app-net:
    driver: bridge